{% extends "index.html" %}
{% block content %}
<div class="container acc-cont">
    <div class="welcome-wrapper">
        <img class="tp-pattern" src="{{ url_for('static', filename = 'images/tp.svg') }}" alt="">
        <div class="welcome">
            <div class="welcome-content">
                <div class="user">
                    <div class="user-pic">
                        <div class="inp-container">
                            <label for="file-upload">
                                <img src="{{ url_for('static', filename = 'images/edit.png') }}" alt="">
                                <input type="file" id = 'file-upload' class="upload">
                            </label>
                            <!-- <input type="image" src="{{ url_for('static', filename = 'images/edit.png') }}" alt=""> -->
                            
                        </div>
                    </div>
                    
                    <div class="details">
                        <h1>{{ current_user.username }}</h1>
                    <p>Points: {{ current_user.points }}</p>
                    </div>
                </div>
            </div>
            <div class="photo">
                <img src="{{ url_for('static', filename = 'images/home.jpg') }}" alt="">
            </div>
        </div>
    </div>
    <div class="saved-questions-wrapper acc-tab">
        <h2>Saved Questions</h2>
        <div class="questions-list acc-row-cont">            
            {% if savedQs %}
            {% for i in range(savedQs|length)%}
            <div class="question acc-row">
                <span>{{ savedQs[i]['question'] }}</span>
                <a href="{{ url_for('savedQuestions')}}" id = 'view' q-id = '{{savedQs[i]["id"]}}'>view</a>
            </div>
            {% endfor %}
            {% endif %}
        </div>
    </div>
    
    <div class="user-info acc-tab">
        <h2>Your information</h2>
        <div class="info acc-row-cont">
            <div class="info-item acc-row">
                <span>username: {{ current_user.username }}</span>
            </div>
        
        
            <div class="info-item acc-row">
                <span>email: {{ current_user.email }}</span>
            </div>
        </div>
    </div>
    <img class="sp-pattern" src="{{ url_for('static', filename = 'images/sp.svg') }}" alt="">
    
</div>
<script>
    let view = document.getElementById('view');
    view.addEventListener('click', (evt) => {
        evt.preventDefault();
        let formData = new FormData();
        formData.append('q-id', view.getAttribute('q-id'));
        fetch("/savedQ", {
            method: 'POST',
            body: formData
        }).then(response => {
            return response.json()
        }).then(data => {
            localStorage.setItem('s-question', JSON.stringify(data));
            window.location.href = '/savedQ';
        }).catch(error => {
            alert("error occured")
        })
    })

    const dpUpload = (file) => {
        let formData = new FormData();
        formData.append('file', file);
        fetch('/changeDP', {
            method: 'POST',
            body: formData
        }).then(response => {
            return response.json();
        }).then(data => {
            Updatedp(data['filename'])
        }).catch(error => {
            alert("Error occured")
        })
    }

    let file = document.getElementById('file-upload');
    file.addEventListener('change', (evt) => {
        dpUpload(file.files[0]);
    })

    const Updatedp = (filename) =>{
        let dp = document.querySelector('.user-pic');
        dp.style.backgroundImage = `url(static/images/${filename})`;
    }
    Updatedp('{{ current_user.profile}}')
</script>
{% endblock %}