{% extends 'index.html' %}


{% block content %}

    <div class="loginpage-container common-form-container">
        <img class="tp-pattern login-tp" src="{{ url_for('static', filename = 'images/tp.svg') }}" alt="">

        <div class="login-container common-cont">
            <div class="part1">
                <div class="form">
                    <h2>Login</h2>

                    <form action="/login" method="post" class = "c-form">
                        {{form.hidden_tag()}}
                        <label for="username">{{form.username.label}}</label>
                        {{form.username}}
                        <label for="password">{{form.password.label}}</label>
                        {% if form.password.errors %}
                            {{ form.password }}
                            <div class="invalid-feedback">
                                {% for error in form.password.errors %}
                                    <div class="error">{{ error }}</div>
                                {% endfor %}
                            </div>
                        {% else %}
                            {{ form.password }}
                        {% endif %}
                        {{form.submit(class = 'sbt-btn')}}
                    </form>
                </div>
            </div>
            <div class="part2">
                <img src="{{ url_for('static', filename = 'images/login.jpg') }}" alt="">
            </div>
        </div>
        
        <img class="sp-pattern login-sp" src="{{ url_for('static', filename = 'images/sp.svg') }}" alt="">

    </div>
    
{% endblock %}


