{% extends 'index.html' %}
{% block content %}
<div class="container r-container">
    <div class="t-banner">
        <div class="user u-result">
            <div class="user-pic">
                <div class="inp-container">
                    <label>
                        <img src="{{ url_for('static', filename = 'images/edit.png') }}" alt="">
                    </label>
                </div>
            </div>
            <div class="details">
                <h1>username</h1>
                <h2>result: <span>0</span>/10</h2>
            </div>
        </div>
        <img class="tp-pattern q-tp" src="{{ url_for('static', filename = 'images/tp.svg') }}" alt="">
    </div>
    <div class="quiz-question-wrapper">
        <div class="quiz-question">
            <div class="q-container">
                <h2>Question</h2>
                <!-- <i class="fa-solid fa-bookmark"></i> -->
                <i class="fa-regular fa-bookmark"></i>
            </div>
            
            <div class="options">
                <div class="opt1 opt" value = 'opt1'>Option 1</div>
                <div class="opt2 opt"value = 'opt2'>Option 2</div>
                <div class="opt3 opt" value = 'opt3'>Option 2</div>
                <div class="opt4 opt" value = 'opt4'>Option 3</div>
                <div class="btn-cont">
                    <button class="btn prev">Prev</button>
                    <a href="#explain"><button class="btn exp">Explanation</button></a>
                    <button class="btn nxt ">Next</button>
                </div>
                <button class="btn done">Done</button>

            </div>  
  
        </div>

    </div>

    <div class="explanation" id = 'explain'>
        <h2>Explanation</h2>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit</p>
    </div>
    <img class="sp-pattern r-sp" src="{{ url_for('static', filename = 'images/sp.svg') }}" alt="">
</div>
<script>
    userAns = localStorage.getItem('UpdatesQs');
    userAns = JSON.parse(userAns);
    qs = localStorage.getItem('myJsonData');
    qs = JSON.parse(qs);
    result = localStorage.getItem('result');
    result = JSON.parse(result);
    keys = Object.keys(qs)
    done = document.querySelector('.done')
    s = document.querySelector('.q-container i')
    q = document.querySelector('.quiz-question h2');
    opt1 = document.querySelector('.opt1');
    opt2 = document.querySelector('.opt2');
    opt3 = document.querySelector('.opt3');
    opt4 = document.querySelector('.opt4');
    options = document.querySelectorAll('.opt');
    nxt = document.querySelector('.nxt')
    prev = document.querySelector('.prev')
    exp = document.querySelector('.exp')
    explainBlock = document.querySelector('.explanation p')
    points = document.querySelector('.u-result h2 span')
    points.innerHTML = result['points']
    let savedQuestions = {}
    let showQuestions = () => {
        let q_c = 0
        checkNext(q_c)
        nxt.addEventListener('click', () => {
            
            console.log(q_c)            
            if (q_c < keys.length){
                q_c++;
            }
            checkNext(q_c)
            console.log(q_c)  
            populateQuestions(q_c)
            resDisplay(q_c)
            
        })
        resDisplay(q_c)
        populateQuestions(q_c)
        prev.addEventListener('click', () => {
            
            if (q_c !== 0){
                q_c--;
            }
            checkNext(q_c)
            populateQuestions(q_c)
            resDisplay(q_c)
        })
        exp.addEventListener('click', () => {
        })
        s.addEventListener('click', () => {
            save(s, q_c)
        })
    }

    resDisplay = (q_c) => {
        for(let j = 0; j < options.length; j++){
            console.log(userAns[keys[q_c]])
            if(options[j].attributes.value.value === userAns[keys[q_c]]['chosenAnswer']){
                if (result[keys[q_c]]['correct']){
                    options[j].style.backgroundColor = 'green'
                }
                else{
                    options[j].style.backgroundColor = 'red'
                }
            }
            else{
                options[j].style.backgroundColor = ''
            }
        }
    }
    checkNext = (q_c) => {
        if (q_c === keys.length-1){
            nxt.style.display = 'none'
        }
        else if(q_c === 0){
            prev.style.display = 'none'
        }
        else{
            nxt.style.display = 'block'
            prev.style.display = 'block'
        }
    }
    populateQuestions = (q_c) => {
        q.innerHTML = qs[keys[q_c]].question;
        opt1.innerHTML = qs[keys[q_c]].opt1;
        opt2.innerHTML = qs[keys[q_c]].opt2;
        opt3.innerHTML = qs[keys[q_c]].opt3;
        opt4.innerHTML = qs[keys[q_c]].opt4;
        explainBlock.innerText = result[keys[q_c]].explanation
        if (keys[q_c] in savedQuestions){
            s.classList.remove('fa-regular')
            s.classList.add('fa-solid')
        }
        else{
            s.classList.remove('fa-solid')
            s.classList.add('fa-regular')
        }
        console.log(result)
    }
    showQuestions()
    const save = (s, q_c) => {
        let notSaved = "fa-regular";
        cl = s.classList
        if (cl[0] === notSaved || cl[1] === notSaved){
            s.classList.remove('fa-regular')
            s.classList.add('fa-solid')
            savedQuestions[keys[q_c]] = qs[keys[q_c]];
        }
        else{
            s.classList.remove('fa-solid')
            s.classList.add('fa-regular')
            delete savedQuestions[keys[q_c]]
        }
    }

    done.addEventListener('click', (evt) => {
        evt.preventDefault()
        fetch('/saveQuestion', {
            method: 'POST', // Specify POST method
            headers: {
                'Content-Type': 'application/json' // Set content type for JSON data
            },
            body: JSON.stringify(savedQuestions) // Convert data to JSON string
          })
          .then(response => {
            console.log(response)
            return response.json()
          }) // Parse JSON response (if applicable)
          .then(data => {
            console.log(data); // Handle successful response
            window.location.href = '/home';
          })
          .catch(error => {
            console.error('Error:', error); // Handle errors
          });
    })
    
</script>
{% endblock %}