{% extends "index.html" %}

{% block content %}



    <div class="common-form-container">
        <img class="tp-pattern login-tp" src="{{ url_for('static', filename = 'images/tp.svg') }}" alt="">

        <div class="common-cont">
            <div class="part1">
                <div class="form">
                    <h1>Register</h1>
                    <form action="" method="POST" class = "c-form">
                        {{ form.hidden_tag() }}
                        <label for="username">{{form.username.label}}</label>
                        {{form.username}}
                        <label for="email">{{form.email.label}}</label>
                        {{form.email}}

                        <label for="password">{{form.password.label}}</label>
                        {% if form.password.errors %}
                            {{ form.password }}
                            <div class="invalid-feedback">
                                {% for error in form.password.errors %}
                                    <div class="error">{{ error }}</div>
                                {% endfor %}
                            </div>
                        {% else %}
                            {{ form.password }}
                        {% endif %}
                        {{form.checkPassword.label}}
                        {% if form.checkPassword.errors %}
                            <div class="invalid-feedback">
                                {% for error in form.checkPassword.errors %}
                                    <div class="error">{{ error }}</div>
                                {% endfor %}
                            </div>
                            {{ form.checkPassword }}

                        {% else %}
                            {{ form.checkPassword }}
                        {% endif %}
                        {{form.submit(class = 'sbt-btn')}}
                    </form>
                </div>
            </div>
            <div class="part2">
                <img src="{{ url_for('static', filename = 'images/register.jpg') }}" alt="">
            </div>
        </div>
        
        <img class="sp-pattern login-sp" src="{{ url_for('static', filename = 'images/sp.svg') }}" alt="">

    </div>



{% endblock %}